:root {

/* COLORS  */
	--c-white: 			#ffffff;
	--c-cleanwhite:  	#f7f8ff;
	--c-lightblue: 		#5a686c;

	--c-coffee: 		#C0FFEE;


	/* MOCHA */
	--c-mocha-white: 		#FFFFFF;
	--c-mocha-black: 		#000000;
	--c-mocha-grey: 		#BFBFBF;
	--c-mocha-darkgrey: 	#595552;
	--c-mocha-sand: 		#D5CEB6;
	--c-mocha-brown: 		#45320C;
	--c-mocha-green:  		#83ad4e;
	--c-mocha-darkgreen:  	#556146;

/* FONT SIZES */
	--f-xxlarge: 		36px;
	--f-xlarge: 		32px;
	--f-large: 			24px;
	--f-headline: 		16px;
	--f-medium: 		14px;
	--f-text: 			12px;
	--f-small: 			11px;

/* FONT FAMILY  */
	--f-family-standard:  	"Tahoma", sans-serif;
	--f-family-input: 		"Courier New", "monospace", sans-serif;
}

body {
	margin: 0px;
	padding: 0px;

	font-family: var(--f-family-standard);

	color: var(--c-mocha-brown);
	background-color: var(--c-mocha-white);
	font-size: var(--f-text);
}

a {
	color: var(--c-mocha-green);
	cursor: pointer;
	text-decoration: underline;
}
a:hover {
	color: var(--c-mocha-grey);
	cursor: pointer;
	text-decoration: underline;
}
#top {
	height: 20px;
	background-color: var(--c-mocha-white);
	border-top: 8px solid var(--c-mocha-brown);
}
.extraction {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: auto;
	max-width: 780px;
	padding-top: 80px;
}

.brew-data {
	margin: 20px;
	width: 350px;
}

.brew-data .barista{
	font-size: var(--f-small);
	font-style: italic;
	color: var(--c-mocha-sand);
}
.brew-data .description{
	padding-top: 20px;
	font-size: var(--f-text);
	color: var(--c-mocha-brown);
}

#brew-ratio,
#brew-time,
#brew-temperature {
	padding: 40px 40px 40px 40px;
	border: 1px solid var(--c-lightblue);
	width: 400px;
}

.headline {
	font-family:var(--f-family-standard);
	font-size: var(--f-xlarge);
	font-weight: bold;
	color: var(--c-mocha-darkgreen);
}

.coffee-bean,
.coffee-brew,
.coffee-machine,
.coffee-grinder {
	display: flex;
	flex-direction: row;
	height: 25px;
}
.coffee-bean .data,
.coffee-brew .data,
.coffee-machine .data,
.coffee-grinder .data {
	width: 80px;
}

#ctof {
	margin-left: 20px;
}
#ctof, 
#ctok {
	font-size: var(--f-small);
}