:root {

/* COLORS  */
	--c-white: 			#ffffff;
	--c-cleanwhite:  	#f7f8ff;
	--c-lightblue: 		#5a686c;

	--c-coffee: 		#C0FFEE; /* #C0FFEE*/


	/* MOCHA */
	--c-mocha-white: 		#FFFFFF;
	--c-mocha-black: 		#000000;
	--c-mocha-light-grey: 	#E6E7ED;
	--c-mocha-grey: 		#BFBFBF;
	--c-mocha-grey2: 		#E6E7ED;
	--c-mocha-darkgrey: 	#595552;
	--c-mocha-sand: 		#D5CEB6;
	--c-mocha-brown: 		#45320C;
	--c-mocha-green:  		#83ad4e;
	--c-mocha-darkgreen:  	#556146;
	--c-mocha-darkestgreen: #1A221A;

/* FONT SIZES */
	--f-xxlarge: 		36px;
	--f-xlarge: 		32px;
	--f-large: 			24px;
	--f-headline: 		16px;
	--f-medium: 		14px;
	--f-text: 			12px;
	--f-small: 			11px;

/* FONT FAMILY  */
	--f-family-standard:  	"Tahoma", sans-serif;
	--f-family-input: 		"Courier New", "monospace", sans-serif;
	--f-family-vesper:  	"Vesper Libre", serif;
}
html {
	background-color: var(--c-mocha-white);
}
body {
	margin: 20px;
	border-radius: 16px;
	font-family: var(--f-family-standard);
	color: var(--c-mocha-brown);
	background-color: var(--c-mocha-grey2);
	font-size: var(--f-text);
}

a {
	color: var(--c-mocha-green);
	cursor: pointer;
	text-decoration: underline;
}
a:hover {
	color: var(--c-mocha-grey);
	cursor: pointer;
	text-decoration: underline;
}
#top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: auto;
	border-bottom:  1px solid #d0d4d9;
	margin: 20px;
	margin-top: 20px;
}
.brand {
	display: flex;
	flex-direction: row;
}
.brand .brand-name {
	margin-top: 20px;
	margin-left: 15px;
	font-family: var(--f-family-vesper);
	font-size: var(--f-large);
	color: var(--c-mocha-darkestgreen);
}
.brand .brand-logo {
	height: 42px;
	width: 64px;
    margin-top: 12px;
	background-image: url(../images/cc.svg);
	background-size: contain;
	background-repeat: no-repeat;
}
#menu {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
#menu .item {
	width: 150px;
	line-height: 36px;
	margin-top: 20px;
	padding-right: 10px;
	text-align: right;
	font-size: var(--f-headline);
}
#menu .item.active a {
	color: var(--c-mocha-black);
}
#menu .item a {
	color: #a0a3af;
	font-family: var(--f-family-vesper);
	font-weight: bold;
	text-decoration: none;
	transition: color 0.25s;
}
#menu .item a:hover {
	cursor: pointer;
	color: var(--c-mocha-black);
	text-decoration: underline;
	transition: color 1s;
}
.extraction {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: auto;
	max-width: 780px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.brew-data {
	margin: 20px;
	width: 350px;
}

.brew-data .barista{
	font-size: var(--f-small);
	font-style: italic;
	color: var(--c-mocha-sand);
}
.brew-data .description{
	padding-top: 20px;
	font-size: var(--f-text);
	color: var(--c-mocha-brown);
}

#brew-ratio,
#brew-time,
#brew-temperature {
	padding: 40px 40px 40px 40px;
	border: 1px solid var(--c-lightblue);
	width: 400px;
}

.headline {
	font-family:var(--f-family-vesper);
	font-size: var(--f-xlarge);
	font-weight: bold;
	color: var(--c-mocha-darkgreen);
}

.extraction .coffee-bean,
.extraction .coffee-brew,
.extraction .coffee-machine,
.extraction .coffee-grinder {
	display: flex;
	flex-direction: row;
	height: 25px;
}
.extraction .coffee-bean .data,
.extraction .coffee-brew .data,
.extraction .coffee-machine .data,
.extraction .coffee-grinder .data {
	width: 80px;
}

#ctof {
	margin-left: 20px;
}
#ctof, 
#ctok {
	font-size: var(--f-small);
}
#footer {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	height: 200px;
	border-radius: 0 0 16px 16px;
	padding:  20px 20px 40px 20px;
	background-color: var(--c-mocha-darkestgreen);
}
#footer .brand .brand-logo {
	height: 256px;
	width: 256px;
	background-image: url(../images/cc.svg);
	filter: invert(13%) sepia(9%) saturate(868%) hue-rotate(71deg) brightness(96%) contrast(87%);
}